<section class="py-4" *ngIf="wishlistArr.length > 0; else msg">
  <div class="container">
    <h2 class="my-2 text-main">Your wishlist</h2>

    <div class="row g-4">
      <div *ngFor="let product of wishlistData" class="col-md-4 col-lg-3">
        <div
          class="product h-100 p-2 pb-0 overflow-hidden"
          
        >
          <header role="button" [routerLink]="['/productdetails', product._id]">
            <img
              class="w-100"
              [title]="product.title"
              [src]="product.imageCover"
              [alt]="product.title"
            />
            <h4 class="text-main h6">{{ product.category.name }}</h4>
            <h3 class="h6 small">{{ product.title | cutText : 3 }}</h3>
            <div
              class="d-flex justify-content-between align-items-center small mb-0 mt-auto"
            >
              <div class="d-flex align-items-center">
                <span>{{ product.price | currency : "E£" }}</span>
              </div>
              <div
                class="d-flex flex-column justify-content-center p-0 mt-auto pb-1"
              >
                <p class="d-flex align-items-center mb-0">
                  <i class="fa fa-star rating-color"></i>
                  <span class="text-muted">{{ product.ratingsAverage }}</span>
                </p>
              </div>
            </div>
          </header>
          <footer
            class="d-flex justify-content-between align-items-center my-2"
          >
            <button
              class="btn bg-main text-light"
              (click)="addProduct(product._id, btnAddToCart)"
              #btnAddToCart
            >
              <i class="fa-plus"></i> <span>Add to cart</span>
            </button>
            <div>
              <i
                *ngIf="!wishlistArr.includes($any(product._id))"
                class="fa-regular fa-heart myHeart"
                role="button"
                (click)="addProductToWishlist(product._id, btnHeartAdd)"
                #btnHeartAdd
              ></i>
              <i
                *ngIf="wishlistArr.includes($any(product._id))"
                class="fa-solid fa-heart myHeart"
                role="button"
                (click)="removeFromWishlist(product._id, btnHeartRemove)"
                #btnHeartRemove
              ></i>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #msg>
  <div class="d-flex align-items-center justify-content-center">
    <h2 class="text-center">You wish for nothing &lt;/3</h2>
  </div>
</ng-template>
