<nav #navbar class="navbar navbar-expand-lg p-3 bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/images/freshcart-logo.svg" alt="fresh cart logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="isLogin" class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="category"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="cart"
            >Cart</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="brands"
            >Brands</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fw-bold"
            routerLinkActive="text-white rounded-pill bg-main "
            routerLink="wishlist"
            >Wishlist</a
          >
        </li>
      </ul>
      <div class="ms-auto d-flex align-items-center justify-content-center">
        <!-- wishlist icon -->
        <a
          *ngIf="isLogin"
          class="nav-link cart-icon fw-bold p-2 position-relative"
          routerLink="wishlist"
        >
          <i class="fa fa-solid fa-heart text-danger fa-xl"></i>
          <span class="badge bg-info position-absolute top-0 end-0 p-1">{{wishNum}}</span>
        </a>
        <!-- cart icon -->

        <a
          *ngIf="isLogin"
          class="nav-link cart-icon fw-bold p-2 position-relative"
          routerLinkActive="cart-icon-active"
          routerLink="cart"
        >
          <i class="fa fa-solid fa-xl text-main fa-cart-shopping"></i>
          <span class="badge bg-info position-absolute top-0 end-0 p-1">{{cartNum}}</span>
        </a>
        <a
          *ngIf="isLogin"
          (click)="logout()"
          class="fw-bold p-2"
          routerLink="login"
          >Log out</a
        >
        <a *ngIf="!isLogin" class="fw-bold p-2" routerLink="login">Log in</a>
        <a *ngIf="!isLogin" class="fw-bold p-2" routerLink="register"
          >Register</a
        >
      </div>
    </div>
  </div>
</nav>
