<section class="p-3">
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-9">
        <owl-carousel-o [options]="mainSliderOptions">
          <ng-container>
            <ng-template carouselSlide>
              <img
                src="./assets/images/slider-image-1.jpeg"
                height="400"
                alt="slide1"
              />
            </ng-template>
            <ng-template carouselSlide>
              <img
                src="./assets/images/slider-image-2.jpeg"
                height="400"
                alt="slide2"
              />
            </ng-template>
            <ng-template carouselSlide>
              <img
                src="./assets/images/slider-image-3.jpeg"
                height="400"
                alt="slide3"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div class="col-md-3">
        <img
          height="200"
          class="w-100"
          src="./assets/images/mainimg1.jpg"
          alt=""
        />
        <img
          height="200"
          class="w-100"
          src="./assets/images/mainimg2.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="allCategories.length > 0">
  <div class="container">
    <h2 class="my-3">Popular Categories</h2>
    <div class="row g-4">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let category of allCategories">
          <ng-template carouselSlide>
            <img
              class="w-75"
              height="200"
              [src]="category.image"
              [alt]="category.slug"
              [title]="category.name"
            />
            <h3 class="h6 text-main my-2">{{ category.name }}</h3>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="allProducts.length > 0">
  <div class="container">
    <h2>Popular products</h2>
    <input
      [(ngModel)]="searchTerm"
      type="text"
      class="form-control form-control-sm w-50 mx-auto my-3"
      placeholder="Search..."
    />
    <div class="row g-4">
      <div
        *ngFor="
          let product of allProducts | search : searchTerm | slice : 0 : 18
        "
        class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
      >
        <div class="product h-100 p-2 pb-0 overflow-hidden">
          <header role="button" [routerLink]="['/productdetails', product._id]">
            <img
              class="w-100"
              [title]="product.title"
              [src]="product.imageCover"
              [alt]="product.title"
            />
            <h4 class="text-main h6">{{ product.category.name }}</h4>
            <h3 class="h6 small">{{ product.title | cutText : 3 }}</h3>
            <div
              class="d-flex justify-content-between align-items-center small mb-0 mt-auto"
            >
              <div class="d-flex align-items-center">
                <span>{{ product.price | currency : "E£" }}</span>
              </div>
              <div
                class="d-flex flex-column justify-content-center p-0 mt-auto pb-1"
              >
                <p class="d-flex align-items-center mb-0">
                  <i class="fa fa-star rating-color"></i>
                  <span class="text-muted">{{ product.ratingsAverage }}</span>
                </p>
              </div>
            </div>
          </header>
          <footer class="d-flex justify-content-between align-items-center my-2">
            <button
              class="btn bg-main text-light"
              (click)="addProduct(product._id, btnAddToCart)"
              #btnAddToCart
            >
              <i class="fa-plus"></i> <span>Add to cart</span>
            </button>
            <div >
                <i *ngIf="!wishlistArr.includes($any(product._id))" class="fa-regular fa-heart myHeart" role="button" (click)="addProductToWishlist(product._id, btnHeartAdd) " #btnHeartAdd></i>
                <i *ngIf="wishlistArr.includes($any(product._id))" class="fa-solid fa-heart myHeart" role="button" (click)="removeFromWishlist(product._id, btnHeartRemove) " #btnHeartRemove></i>

            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
